@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.footercontainer {
    width: 100%;
    padding: 4rem 0rem;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socialmedia {
    display: flex;
    flex-direction: column;
}

.footer-socialmedia p {
    font-weight: 500;
    color: black;
    font-size: 1.1rem;
}

.footer-socialmedia a {
    text-decoration: none;
    color: rgb(105, 104, 104);
    font-size: 0.9rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info p {
    font-weight: 500;
    color: black;
    font-size: 1.1rem;
}

.footer-info a {
    text-decoration: none;
    color: rgb(105, 104, 104);
    font-size: 0.9rem;
}