@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.mypagecontainer {
    display: flex;
    flex-direction: row;
}

.mypagemenu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 1000vh;
    padding-top: 2rem;
    padding-left: 1rem;
    background: linear-gradient(#456788, #7ca0bf, #a4bed5);
    color: white;
}

.mypagemenu p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.mypagemenu a {
    text-decoration: none;
    color: white;
}

.mypagecontent {
    padding: 2rem;
    background-color: rgb(225, 230, 225);
    width: 70%;
    display: flex;
    justify-content: center;
    color: rgb(125, 125, 125);
    font-size: 1.2rem;
}