@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.Container {
    background-color: rgba(255, 255, 255, 0.3);
}

.productcontainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    width: 100%;
}

.product {
    width: 100%;
    height: 100%;
    padding: 5%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.productcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productcontainer p {
    text-align: center;
}

.productTitle {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 5%;
    margin-top: 2%;
}

.productDescription {
    font-size: 0.9rem;
    margin-bottom: 5%;
}

.productPrice {
    font-weight: 600;
}

.product button {
    background-color: rgb(51, 44, 34);
    color: rgb(239, 239, 239);
    letter-spacing: 0.05rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {

    .productcontainer {
        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        padding: 2%;
    }


    .productTitle {
        font-size: 0.8rem;
    }
}