@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.termscontainer {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#1e1913, #3d3931, #89847f);
}


.contentcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40rem;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 1rem;

}

.contentcontainer .title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;

}

.contentcontainer .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 2rem;
    background: linear-gradient(#456788, #7ca0bf, #a4bed5);
}

.contentcontainer p {
    padding-top: 1.5rem;
}


@media (max-width: 600px) {

    .termscontainer {
        height: 140vh;
    }
}